body{
    text-align: center;
    background-image: url(images/earth-1756274__480.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    margin-bottom: 30px;
    color: white;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: -50px 0px;
}

#weather-div{
    position: fixed;
    border: 1px black solid;
    width: 350px;
    height: 550px;
    display: none;
    padding: 10px;
    background-color: black;
    color: white;
}

#weather-info{
    font-size: 2rem;
}

h1{
    font-size: 4rem;
}

label{
    font-size: 1.5rem;
}

input{
    height: 18px;
    text-align: center;
}

p{
    font-size: 1.5rem;
}