body{
    text-align: center;
    background-image: url(images/wp2293439.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    margin-bottom: 30px;
    color: white;
    background-color: black;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: -50px 0px;
}

#weather-div{
    position: fixed;
    border: 1px rgb(0, 0, 0) solid;
    box-shadow: 2px 2px 4px 2px rgba(255, 255, 255, 0.527);
    width: 372px;
    height: 500px;
    display: none;
    padding: 10px;
    background-color: black;
    color: rgb(0, 0, 0);
    background-repeat: no-repeat;
    background-size: cover
}

#weather-info{
    font-size: 2rem;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1{
    font-size: 4rem;
    color: black;
    text-shadow: 2px 2px 4px rgb(255, 255, 255);
}

label{
    font-size: 2rem;
    padding: 5px;
    color: black;
    text-shadow: 2px 2px 4px rgb(255, 255, 255);
}

input{
    height: 30px;
    text-align: center;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
    font-size: 1.5rem;
    padding: 5px;
}

p{
    font-size: 1.5rem;
}

button:hover,
button:active{
    cursor: pointer;
    transform: scale(1.1);
}

#search-btn{
    width: 120px;
    font-size: 2rem;
    background-color: gold;
    color: black;
    border-radius: 5px;
    border: none;
    margin: 0 auto;
    
}

#close-weather-info{
    font-size: 2rem;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    color: black;
}

#close-weather-info:hover,
#close-weather-info:active{
    color: red;
}